<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Weather">

    <listeners>
        <listener class-name = "com.olehprod.aw.gui.listeners.TestListener" />
    </listeners>

    <test name = "Temperature test">
        <classes>
            <class name= "com.olehprod.aw.gui.tests.weather.TemperatureTest" />
        </classes>
    </test>

</suite>